# ============================================
# VARIABLES DE ENTORNO - OpenStore
# ============================================
####################################################
########---USER-SERVICE----#########
POSTGRES_DB=openstoredb
POSTGRES_USER=openstoreuser
POSTGRES_PASSWORD=openstorepass
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
APP_NAME=openstore
APP_PORT=8080
DATABASE_URL=jdbc:postgresql://postgres:5432/openstoredb
DB_USERNAME=openstoreuser
DB_PASSWORD=openstorepass
JPA_DDL_AUTO=create-drop
JPA_SHOW_SQL=false
# ============================================
RECOVERY_CODE_EXPIRATION_MINUTES=30
RECOVERY_MAX_REQUESTS=5
RECOVERY_MAX_RESET_ATTEMPTS=10
RECOVERY_MAX_CODE_VALIDATION_ATTEMPTS=5
RECOVERY_ATTEMPT_WINDOW_MINUTES=30
JWT_SECRET=i3VKQUnRpo3i29qN0yCEIDyv4DV26ngjA/qg+Q9Euzo=
JWT_EXPIRATION=864000
PROFILE_UPDATE_CODE_EXPIRATION_MINUTES=60
PROFILE_UPDATE_COOLDOWN_DAYS=30
SERVER_PORT=8080
CONTEXT_PATH=/api
CORS_ALLOWED_ORIGINS=http://localhost:5173
# ============================================
########---SHOP-SERVICE----#########
MYSQL_PASSWORD=shoppass
MYSQL_USER=shopuser
MYSQL_DATABASE=shopdb
MYSQL_PORT=3306
MYSQL_HOST=mysql
SHOP_DATABASE_URL=mysql://shopuser:shoppass@mysql:3306/shopdb
SHOP_APP_PORT=8081
SHOP_JPA_DDL_AUTO=create-drop
# ============================================
########---PRODUCT-SERVICE----#########
BUCKET_NAME=openstore-images-local
AWS_REGION=us-east-1
USER_SERVICE_URL=http://user-service:8080
SHOP_SERVICE_URL=http://shop-service:3000
MONGO_HOST=mongo
MONGO_URI=mongodb://mongo:27017/productdb
PRODUCT_APP_PORT=8082
PRODUCT_JPA_DDL_AUTO=create-drop
# ============================================