##User-Service
DATABASE_URL=jdbc:postgresql://postgres:5432/userdb
DB_USERNAME=admin
DB_PASSWORD=admin123
JPA_DDL_AUTO=update
JWT_SECRET=i3VKQUnRpo3i29qN0yCEIDyv4DV26ngjA/qg+Q9Euzo=
JWT_EXPIRATION=864000
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=no-reply@example.com
MAIL_PASSWORD=change-me
########---SHOP-SERVICE----#########
MYSQL_PASSWORD=shoppass
MYSQL_USER=shopuser
MYSQL_DATABASE=shopdb
SHOP_DATABASE_URL=mysql://shopuser:shoppass@mysql:4060/shopdb
SHOP_JPA_DDL_AUTO=update
########---PRODUCT-SERVICE----#########
BUCKET_NAME=openstore-images-local
AWS_REGION=us-east-1
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin123
MONGO_INITDB_DATABASE=productdb
PRODUCT_DATABASE_URL=mongodb://admin:admin123@mongo:27017/productdb